body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

.logo img {
  width: 50px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px black solid;
}

.navbar {
  margin-right: 20px;
}

.navbar-link {
  margin-right: 10px;
}

/* Food Menu Page */

.foodMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-card {
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  overflow: hidden;
}

.item-image {
  position: relative;
}

.item-image form {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.item-image img {
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: cover;
}

.item-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  margin: 0 0 4px 0;
  text-align: center;
}

.item-info {
  max-height: 100px;
  overflow-y: auto;
  padding: 0 5px;
}

.dinnerImageHero {
  height: 150px;
  width: 100%;
  position: relative;
}

.dinnerImageHero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.dinnerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 8px;
  font-size: 32px;
  font-weight: bold;
}

.buttonForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
}

/* Home Page */

.imageHero {
  height: 150px;
  width: 100%;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer */

.footer {
  margin-top: auto;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Cocktails */

.cocktails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cocktail-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cocktail-card {
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  overflow: hidden;
}

.cocktail-image {
  position: relative;
}

.cocktail-image form {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.cocktail-image img {
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: cover;
}

.cocktail-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  margin: 0 0 4px 0;
  text-align: center;
}

.cocktail-info {
  max-height: 100px;
  overflow-y: auto;
  padding: 0 5px;
}

/* Login SignUp Page */

.loginpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Wines */

.wines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wine-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wine-card {
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  overflow: hidden;
}

.wine-image {
  position: relative;
}

.wine-image form {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.wine-image img {
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: cover;
}

.wine-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  margin: 0 0 4px 0;
  text-align: center;
}

.wine-info {
  max-height: 100px;
  overflow-y: auto;
  padding: 0 5px;
}
